@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');
@import url('https://fonts.googleapis.com/css?family=Oswald:600');
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	}
	body{
	background-color: #e6faff;
}
h1{
	text-align: center;
	font-size: 60px;
	font-family: 'Holtwood One SC', serif;
	color:  #fff;
	margin-top: 40px;
}

h2{
	color:  #007a99;
	padding: 30px;
	text-decoration: underline;
	background-color: powderblue;
	margin: 40px 0;
	padding: 20px;
}

nav ul{
	text-align: center;
	background: #fff;

}
nav li {
	list-style: none;
	display: inline-block;

}
 nav a{
	text-decoration: none;
	color: 	  #005266;
	padding: 80px;
	font-size: 30px;
	font-family:Impact;
	transition: .5s;
}
nav a:hover{
	color: #66e0ff;
}
.banner{
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;
	padding: 80px 20px;
	text-align: center;

}
/*utility class===========================*/
.content{
	margin: 80px 80px;
	text-align: center;
	background-color: #fff;
	padding: 40px;
	color:  #00a3cc;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-style: bold;
	
}

.content p{
	margin: 60px;
}

.img-50{
	width: 80%;
	display: block;
	margin:10px auto;
	}
.ref{
		color: powderblue;
	}
	


.box{
	border:2px solid powderblue;
	color:#00a3cc;
	margin:10px;
	padding:10px;
	margin-left: 40px;
	font-size: 20px;

	}
	.lbl{
		margin-left:100px;
		padding: 10px;

	}
	.lblcom{
		margin-left:105px;
	}

	.txarea{
	border:2px solid powderblue;
	color:#00a3cc;
	margin:10px;
	padding:10px;
	margin-bottom: 0;
	font-size: 20px;
	}

	.sub{
		
		padding: 10px;
		margin-left:25px;
	}
	.subbox{
		margin: 30px;
	}
	.done{
	padding: 20px;
	background-color: powderblue;
	border:5px solid #EAF2F8  ;
	color:#007a99;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;

	}









